@model JustCare_MB.Models.User

@* useless page *@

<form asp-action="Delete">
        <div class="col-5">
            <input type="submit" value="Delete" class="btn btn-danger form-control" />
        </div>
</form>
