@model JustCare_MB.Dtos.AppointmentBookedDtos.DatesDto

<form method="post" asp-action="SelectAppointmentTime">
    <br />
    <div class="container border p-3">
        <h1 class="text-primary">Choose time</h1>
        <hr />

        <input hidden asp-for="CategoryId" />
        <input hidden asp-for="CategoryName" />

        <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="col-2">
                <label class="control-lable pt-2" style="font-size:20px;">@Model.CategoryName</label>
            </div>

            @foreach (var item in Model.DateInformation)
            {
                <button type="submit" name="AppointmentId" value="@item.AppointmentId" class="btn btn-outline-primary">

                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">@item.Date</h5>
                        </div>
                    </div>

                </button>
            }

            <div class="col-5 offset-2">
                <a asp-action="Index" asp-controller="AppointmentBooked" class="btn-primary btn form-control">Back to list</a>
            </div>
        </div>
    </div>
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial.cshtml" />
}


